/*Header*/
header{
    background-color: rgb(113, 112, 173);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo{
    position: relative;
    width: 400px;
    height: 150px;
    text-align: center;
    align-items: center;
  }
  
  .logo img{
      height: 130px;
      width: 300px;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-size: cover;
  }
  
  header .topnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  header .topnav li{
    list-style: none;
    margin: 10px 0;
    padding: 20px;
  } 
  
  header .topnav li a{
    color: white;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 1px;
  }
  
  header .topnav li a:hover{
    background-color: #ddd;
    color: rgb(11, 11, 66);
  }
  
  header .topnav li a:hover{
    color: rgb(11, 11, 66);
  }

  /*Footer*/
footer{
    background-color: rgb(113, 112, 173);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  footer .bottomnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer .bottomnav li{
    list-style: none;
    margin: 10px 0;
    padding: 20px;
  } 
  
  footer .bottomnav li a{
    color: white;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 1px;
  }
  
  footer .bottomnav li a:hover{
    background-color: #ddd;
    color: rgb(11, 11, 66);
  }
  
  footer .bottomnav li a:hover{
    color: rgb(11, 11, 66);
  }