@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');


h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}