@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.myaccount{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin-top: 30px;
}
.myaccount_container{
    background-color: #e1dcc5;
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 700px;
    border-radius: 7%;
}
.content{
    padding: 50px 100px;
}
.profile-image{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 20px 50px;
}
.profile-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    margin-bottom: 20px;
    font-weight: 400;
}
.form-label{
    margin-bottom: 10px;
}
.form-field{
    margin-bottom: 10px;
}
.button {
    background-color: #009579;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    font-size: 13px;
    font-weight: 200;
    cursor: pointer;
}
.button_logout{
    justify-content: center;
    width: 100%;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 5%;
    cursor: pointer;
    background: red;

}
/*FORM */
.form {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.form_container {
    width: 500px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);

}
.form_title{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 25px;
}
.form_input_group{
    margin-bottom: 0.75rem;
}
.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.form_button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: rgb(11, 11, 66);
}


.form_button:active {
    transform: scale(0.98);
}
.link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}





