@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-container form{
    padding: 2rem;
    width: 50rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #eeeeee;
}

.form-container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: black;
}

.form-container form .box{
    width: 100%;
    border-radius: 0.5rem;

    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.btn, .option-btn, .delete-btn, .white-btn {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color:rgb(11, 11, 66);
    color: white;
    font-size: 1.8rem;
    border-radius: 0.5rem;
}

.btn:hover, .option-btn:hover, .delete-btn:hover .white-btn:hover{
    background-color: black;
    color: white;
}

.form-container form p{
    font-size: 2rem;
    padding: 1.5rem 0;
    color: black;
}

.form-container form p a{
    color: lightcoral;
}

.form-container form p a:hover{
    text-decoration: underline;
}

.form_label {
    font-size: 1.5rem;
    text-align: left;
}

.form_row select {
    width: 100%;
    border-radius: 0.5rem;
    background-color: beige;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.form-container form div .error small {
    color: red;
    font-size: 1.25rem;
}
